absl-py
asgiref
asttokens
astunparse
audioread
axios
Brotli
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
crispy-bootstrap5
cryptography
cssselect2
cycler
debugpy
decorator
defusedxml
dj-database-url
Django
django-allauth
django-bkash-integration
django-cors-headers
django-crispy-bootstrap
django-crispy-forms
django-environ
django-filter
django-model-utils
django-paypal
djangorestframework
exceptiongroup
executing
flatbuffers
fonttools
fuzzywuzzy
gast
google-pasta
grpcio
h5py
hashids
html5lib
idna
imageio
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras
kiwisolver
lazy_loader
Levenshtein
libclang
librosa
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
msgpack
mysqlclient
namex
nest-asyncio
networkx
numba
numpy
oauthlib
opencv-python
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
pooch
prompt-toolkit
protobuf
psutil
psycopg2
psycopg2-binary
pure-eval
pycparser
pydyf
Pygments
PyJWT
pyparsing
pyphen
python-dateutil
python-decouple
python-Levenshtein
python3-openid
pytz
pywin32
pyzmq
RapidFuzz
requests
requests-oauthlib
rich
scikit-image
scikit-learn
scipy
six
soundfile
soxr
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
tinycss2
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
weasyprint
webencodings
Werkzeug
whitenoise
wrapt
zopfli